body {
    margin: auto;
    display: flex;
}

#graphCanvas {
    border: 1px solid black;
    width: 100%;
    flex: 1;
    justify-content: start;
    resize: both;
    overflow: auto;
    justify-content: start;
}

#mainContainer {
    display: flex;
    justify-content: left;
    /* Center the flex items horizontally */
    /* Align the flex items to the top */
    resize: both;
    overflow: auto;
}


#pageHeader {
    text-align: center;
    position: right;
    top: 0%;
    right: 25%;
    text-align: center;
}